<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_pandas/blob/main/Soulcode_Pandas_003_replace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


https://drive.google.com/file/d/1gwocrgbxuuQGqCHcD0h1zvQ1nDHznnoR/view?usp=sharing

Deve ser convertido neste dataframe os numeros em strings que façam sentido 
Ex: sexo , raça . as colunas que não façam sentido podem ser dropadas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/pesquisa.csv')
df.head()

    id  sexo  raca  origem  ...  escrita  matematica  ciencia  sociais
0   70     0     4       1  ...       52          41       47       57
1  121     1     4       2  ...       59          53       63       61
2   86     0     4       3  ...       33          54       58       31
3  141     0     4       3  ...       44          47       53       56
4  172     0     4       2  ...       52          57       53       61

[5 rows x 11 columns]

In [ ]:
df.shape

(200, 11)

In [ ]:
df['tipo'].value_counts()

1    168
2     32
Name: tipo, dtype: int64

In [ ]:
df.head()

    id       sexo   raca origem  ... escrita  matematica  ciencia  sociais
0   70  masculino  Preto     PE  ...      52          41       47       57
1  121   feminino  Preto     MG  ...      59          53       63       61
2   86  masculino  Preto     SP  ...      33          54       58       31
3  141  masculino  Preto     SP  ...      44          47       53       56
4  172  masculino  Preto     MG  ...      52          57       53       61

[5 rows x 10 columns]

In [ ]:
df['sexo'].replace(0, 'masculino', inplace=True)
df['sexo'].replace(1, 'feminino', inplace=True)

In [ ]:
df['origem'].replace(1, 'PE', inplace=True)
df['origem'].replace(2, 'MG', inplace=True)
df['origem'].replace(3, 'SP', inplace=True)

In [ ]:
df['raca'].replace(1, 'Amarelo', inplace=True)
df['raca'].replace(2, 'Branco', inplace=True)
df['raca'].replace(3, 'Pardo', inplace=True)
df['raca'].replaceb(4, 'Preto', inplace=True)

In [ ]:
df['tipo'].replace(1, 'destro', inplace=True)
df['tipo'].replace(2, 'canhoto', inplace=True)

In [ ]:
df.drop('prog', axis=1, inplace=True)

In [ ]:
df.head()

    id       sexo   raca origem  ... escrita  matematica  ciencia  sociais
0   70  masculino  Preto     PE  ...      52          41       47       57
1  121   feminino  Preto     MG  ...      59          53       63       61
2   86  masculino  Preto     SP  ...      33          54       58       31
3  141  masculino  Preto     SP  ...      44          47       53       56
4  172  masculino  Preto     MG  ...      52          57       53       61

[5 rows x 10 columns]

In [ ]:
df.dtypes

id             int64
sexo          object
raca          object
origem        object
tipo          object
leitura        int64
escrita        int64
matematica     int64
ciencia        int64
sociais        int64
dtype: object