<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_pandas/blob/main/Soulcode_Pandas_005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/dados_turmabc6_soul/Dados/Acessos_Banda_Larga_Fixa_2021.csv', sep=';')
df.head()

    Ano  Mês       Grupo Econômico  ... Meio de Acesso   Tipo de Pessoa Acessos
0  2021    7  ALGAR (CTBC TELECOM)  ...          Fibra  Pessoa Jurídica      10
1  2021    7  ALGAR (CTBC TELECOM)  ...          Fibra  Pessoa Jurídica       1
2  2021    7  ALGAR (CTBC TELECOM)  ...          Fibra  Pessoa Jurídica       2
3  2021    7                OUTROS  ...          Fibra  Pessoa Jurídica       2
4  2021    7  ALGAR (CTBC TELECOM)  ...          Fibra  Pessoa Jurídica       3

[5 rows x 14 columns]

In [ ]:
df.shape

(3210064, 14)

In [ ]:
df['UF'].value_counts()

SP    594313
MG    473806
RS    362200
SC    253285
PR    252780
BA    171483
RJ    134312
GO    121880
CE    105302
PE     91623
MT     76220
ES     68026
PB     67490
MA     62613
RN     58134
PA     57867
PI     45240
MS     42193
AL     30643
TO     30175
SE     29323
RO     25859
AM     19167
DF     15749
AC      8584
AP      6713
RR      5084
Name: UF, dtype: int64

In [ ]:
df['backup_grupo_economico'] = df['Grupo Econômico']
df.head()

    Ano  Mês  ... Acessos backup_grupo_economico
0  2021    7  ...      10   ALGAR (CTBC TELECOM)
1  2021    7  ...       1   ALGAR (CTBC TELECOM)
2  2021    7  ...       2   ALGAR (CTBC TELECOM)
3  2021    7  ...       2                 OUTROS
4  2021    7  ...       3   ALGAR (CTBC TELECOM)

[5 rows x 15 columns]