<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_pandas/blob/main/Soulcode_Pandas_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
df.loc[5751, 'ocorrencia_classificacao']

'INCIDENTE'

In [ ]:
df.loc[[5, 15, 35]]

    codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
5               39807               39807  ...        17:53:00                   0
15              39315               39315  ...        21:22:00                   0
35              39487               39487  ...        16:50:00                   0

[3 rows x 9 columns]

In [ ]:
df.loc[5751]

codigo_ocorrencia                         79844
codigo_ocorrencia2                        79844
ocorrencia_classificacao              INCIDENTE
ocorrencia_cidade                RIO DE JANEIRO
ocorrencia_uf                                RJ
ocorrencia_aerodromo                       SBJR
ocorrencia_dia              2020-12-31 00:00:00
ocorrencia_hora                        13:24:00
total_recomendacoes                           0
Name: 5751, dtype: object

In [ ]:
#pd.to_datetime(df['ocorrencia_hora'], format="%H:%M:%S")

In [ ]:
df.ocorrencia_dia.dt.month

0        1
1        1
2        1
3        1
4        1
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

In [ ]:
df.shape

(5752, 9)

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
df['codigo_ocorrencia'].is_unique

True

In [ ]:
(df['codigo_ocorrencia'] == df['codigo_ocorrencia2']).value_counts()

True    5752
dtype: int64

In [ ]:
#df.set_index('codigo_ocorrencia', inplace=True)
#df.set_index(drop=True, inplace=True)

In [ ]:
df['backup'] = df['ocorrencia_aerodromo']

In [ ]:
df.drop(['backup'], axis=1, inplace=True)

In [ ]:
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5752 entries, 0 to 5751
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   codigo_ocorrencia         5752 non-null   int64
 1   codigo_ocorrencia2        5752 non-null   int64
 2   ocorrencia_classificacao  5752 non-null   object
 3   ocorrencia_cidade         5752 non-null   object
 4   ocorrencia_uf             5752 non-null   object
 5   ocorrencia_aerodromo      5752 non-null   object
 6   ocorrencia_dia            5752 non-null   datetime64[ns]
 7   ocorrencia_hora           5751 non-null   object
 8   total_recomendacoes       5752 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 404.6+ KB

In [ ]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [ ]:
df.isnull().sum()

codigo_ocorrencia           0
codigo_ocorrencia2          0
ocorrencia_classificacao    0
ocorrencia_cidade           0
ocorrencia_uf               0
ocorrencia_aerodromo        0
ocorrencia_dia              0
ocorrencia_hora             1
total_recomendacoes         0
dtype: int64

In [ ]:
df.describe()

       codigo_ocorrencia  codigo_ocorrencia2  total_recomendacoes
count        5752.000000         5752.000000          5752.000000
mean        58504.211926        58504.211926             0.303894
std         14060.291611        14060.291611             1.153253
min         39115.000000        39115.000000             0.000000
25%         46366.500000        46366.500000             0.000000
50%         52692.500000        52692.500000             0.000000
75%         77653.750000        77653.750000             0.000000
max         79874.000000        79874.000000            23.000000

In [ ]:
df['ocorrencia_uf'].unique()

array(['RJ', 'PA', 'MT', 'RS', 'BA', 'AM', 'PR', 'MG', 'SP', 'DF', 'AC',
       'TO', 'SC', 'GO', 'MA', 'ES', 'PE', 'RR', 'MS', 'CE', 'AP', 'AL',
       'RO', 'SE', 'PB', 'PI', 'RN', '**'], dtype=object)

In [ ]:
df['ocorrencia_uf'].value_counts()

SP    1373
MG     529
RJ     516
PR     485
RS     352
GO     309
MT     292
PA     287
AM     233
BA     213
SC     189
MS     151
DF     135
PE      98
CE      88
MA      75
ES      75
AC      58
RR      55
TO      54
PI      40
RO      37
AL      33
PB      24
SE      21
RN      16
AP      13
**       1
Name: ocorrencia_uf, dtype: int64

In [ ]:
df['ocorrencia_uf'].value_counts(normalize=True)

SP    0.238700
MG    0.091968
RJ    0.089708
PR    0.084318
RS    0.061196
GO    0.053720
MT    0.050765
PA    0.049896
AM    0.040508
BA    0.037031
SC    0.032858
MS    0.026252
DF    0.023470
PE    0.017038
CE    0.015299
MA    0.013039
ES    0.013039
AC    0.010083
RR    0.009562
TO    0.009388
PI    0.006954
RO    0.006433
AL    0.005737
PB    0.004172
SE    0.003651
RN    0.002782
AP    0.002260
**    0.000174
Name: ocorrencia_uf, dtype: float64

In [ ]:
df[df['ocorrencia_uf'] == 'SP']

      codigo_ocorrencia  ...  total_recomendacoes
11                40069  ...                    8
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
...                 ...  ...                  ...
5704              79739  ...                    0
5705              79705  ...                    0
5715              79718  ...                    0
5742              79800  ...                    0
5747              79804  ...                    0

[1373 rows x 9 columns]

In [ ]:
#df.loc[df.ocorrencia_uf == "MT", ['ocorrencia_classificacao']] = "VITOR"

In [ ]:
df['ocorrencia_aerodromo'].value_counts()

****     2181
*****     150
SBGR      140
SBMT      126
SBBH      106
         ...
SNWS        1
SWXQ        1
SNME        1
SBMS        1
SNBS        1
Name: ocorrencia_aerodromo, Length: 515, dtype: int64