<a href="https://colab.research.google.com/github/victorog17/soulcode_aulas_pandas/blob/main/Soulcode_Pandas_008_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BIBLIOTECAS**

In [ ]:
pip install pandera

In [3]:
import pandas as pd
import pandera as pa

**EXTRAÇÃO DOS DADOS DE UMA/VARIAS FONTE(S)**

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/ocorrencia_2010_2020 - ocorrencia_2010_2020.csv', sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [5]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

In [6]:
pd.unique(df['ocorrencia_uf'])

array(['RJ', 'PA', 'MT', 'RS', 'BA', 'AM', 'PR', 'MG', 'SP', 'DF', 'AC',
       'TO', 'SC', 'GO', 'MA', 'ES', 'PE', 'RR', 'MS', 'CE', 'AP', 'AL',
       'RO', 'SE', 'PB', 'PI', 'RN', '**'], dtype=object)

In [7]:
df.loc[df['ocorrencia_uf'] == '**']

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0

[1 rows x 9 columns]

In [8]:
dfback = df.copy()

In [9]:
dfback.head()

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

Incosistencias:

`'**', '****', '####', '###!', '*****'`

A considerar: aerodromos '5JTI', '9PAA', '9PFC', '9PFX', '9PHD', '9PSD',

In [10]:
df.loc[df['ocorrencia_aerodromo'] == '9PAA']

      codigo_ocorrencia  ...  total_recomendacoes
3708              65543  ...                    0
5470              79380  ...                    0
5710              79714  ...                    0

[3 rows x 9 columns]

**LIMPEZA/TRATAMENTO DOS DADOS**

In [11]:
df.replace(['**', '****', '*****', '####', '###!'], pd.NA, inplace=True)

In [12]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [13]:
df.drop_duplicates()

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [14]:
df.dtypes

codigo_ocorrencia                    int64
codigo_ocorrencia2                   int64
ocorrencia_classificacao            object
ocorrencia_cidade                   object
ocorrencia_uf                       object
ocorrencia_aerodromo                object
ocorrencia_dia              datetime64[ns]
ocorrencia_hora                     object
total_recomendacoes                  int64
dtype: object

**VALIDAÇÃO DE DADOS**

In [15]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2), nullable=True),
        "ocorrencia_aerodromo":pa.Column(pa.String, pa.Check.str_length(4,4), nullable=True),
        "ocorrencia_dia":pa.Column(pa.DateTime),
        "ocorrencia_hora":pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9]):([0-5][0-9])?$'), nullable=True),
        "total_recomendacoes":pa.Column(pa.Int)
    }
)

In [16]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

**FILTROS**

In [17]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [18]:
filter = df['ocorrencia_uf'].isnull()

In [19]:
df.loc[filter]

      codigo_ocorrencia  ...  total_recomendacoes
2227              49474  ...                    0

[1 rows x 9 columns]

In [20]:
df.count()

codigo_ocorrencia           5752
codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5751
ocorrencia_aerodromo        3403
ocorrencia_dia              5752
ocorrencia_hora             5751
total_recomendacoes         5752
dtype: int64

In [21]:
filter1 = df['total_recomendacoes'] > 11
df.loc[filter1]

      codigo_ocorrencia  ...  total_recomendacoes
326               42250  ...                   19
872               44796  ...                   23
1062              45554  ...                   20
2795              52265  ...                   13
3930              66432  ...                   12

[5 rows x 9 columns]

In [22]:
df.loc[filter1, ['ocorrencia_cidade', 'ocorrencia_dia', 'total_recomendacoes']]

     ocorrencia_cidade ocorrencia_dia  total_recomendacoes
326     RIO DE JANEIRO     2010-08-12                   19
872             RECIFE     2011-07-13                   23
1062        UBERLÂNDIA     2011-11-15                   20
2795            SANTOS     2014-08-13                   13
3930           VITÓRIA     2017-02-21                   12

In [23]:
filter2 = df['ocorrencia_classificacao'] == 'ACIDENTE'
filter3 = df['ocorrencia_uf'] == 'RJ'

In [24]:
df.loc[filter2 & filter3]

      codigo_ocorrencia  ...  total_recomendacoes
31                39323  ...                    0
49                39295  ...                    0
149               40447  ...                    0
155               40554  ...                    8
248               41729  ...                    0
...                 ...  ...                  ...
4966              78744  ...                    0
5411              79309  ...                    0
5503              79430  ...                    0
5636              79621  ...                    0
5716              79724  ...                    0

[74 rows x 9 columns]

In [25]:
df.loc[filter2 | filter3]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
11                40069  ...                    8
13                39507  ...                    2
...                 ...  ...                  ...
5740              79751  ...                    0
5743              79824  ...                    0
5745              79755  ...                    0
5749              79802  ...                    0
5751              79844  ...                    0

[2286 rows x 9 columns]

In [26]:
filter4 = df['ocorrencia_classificacao'].isin(['ACIDENTE', 'INCIDENTE'])
filter5 = df['ocorrencia_uf'] == 'SP'

In [27]:
df.loc[filter4 & filter5]

      codigo_ocorrencia  ...  total_recomendacoes
11                40069  ...                    8
16                39809  ...                    0
18                39828  ...                    0
26                39847  ...                    0
27                39768  ...                    0
...                 ...  ...                  ...
5683              79730  ...                    0
5696              79692  ...                    0
5700              79699  ...                    0
5742              79800  ...                    0
5747              79804  ...                    0

[1236 rows x 9 columns]

In [28]:
#filtroLetra = df['ocorrencia_cidade'].str[0] == 'C'
filtroLetra = df['ocorrencia_cidade'].str[-2:] == 'RA'
df.loc[filtroLetra]

      codigo_ocorrencia  ...  total_recomendacoes
48                39235  ...                    3
53                39405  ...                    1
61                41377  ...                    0
68                40318  ...                    0
187               41574  ...                    0
...                 ...  ...                  ...
5488              79412  ...                    0
5628              79595  ...                    0
5685              79687  ...                    0
5722              79738  ...                    0
5734              79766  ...                    0

[116 rows x 9 columns]

In [29]:
#filtroContem = df['ocorrencia_cidade'].str.contains('RIO | MA')
filtroContem = df['ocorrencia_cidade'].str.contains('RIO')
df.loc[filtroContem]

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
19                44575  ...                    0
23                40311  ...                    0
...                 ...  ...                  ...
5717              79719  ...                    0
5724              79740  ...                    0
5743              79824  ...                    0
5749              79802  ...                    0
5751              79844  ...                    0

[489 rows x 9 columns]

In [32]:
filtroData = df['ocorrencia_dia'].dt.year == 2018
df.loc[filtroData & filter5 & filter2].shape

(27, 9)

In [ ]:
filter_ano = df['ocorrencia_dia'].dt.year == 2016
filter_mes = df['ocorrencia_dia'].dt.month == 11
filter_dia_range = (df['ocorrencia_dia'].dt.day > 2) & (df['ocorrencia_dia'].dt.day < 22)

df.loc[filter_ano & filter_mes & filter_dia_range]

In [43]:
df['data_hora'] = pd.to_datetime(df['ocorrencia_dia'].astype(str) + ' ' + df['ocorrencia_hora'])

In [46]:
periodo_inicial = df['data_hora'] >= '2018-10-01 00:00:00'
periodo_final = df['data_hora'] <= '2018-10-15 23:00:00'

In [ ]:
df.loc[periodo_inicial & periodo_final]

**FILTROS PARA LOAD/CARREGAMENTO**

In [52]:
filtro_ano = df['ocorrencia_dia'].dt.year == 2012
filtro_mes = df['ocorrencia_dia'].dt.month == 3
df2012marco = df.loc[filtro_ano & filtro_mes]

In [54]:
df2012marco.count()

codigo_ocorrencia           61
codigo_ocorrencia2          61
ocorrencia_classificacao    61
ocorrencia_cidade           61
ocorrencia_uf               61
ocorrencia_aerodromo        30
ocorrencia_dia              61
ocorrencia_hora             61
total_recomendacoes         61
data_hora                   61
dtype: int64

In [58]:
df2012marco.groupby(['ocorrencia_classificacao'])['ocorrencia_classificacao'].count()

ocorrencia_classificacao
ACIDENTE           14
INCIDENTE          43
INCIDENTE GRAVE     4
Name: ocorrencia_classificacao, dtype: int64

In [56]:
df2012marco.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE           14
INCIDENTE          43
INCIDENTE GRAVE     4
dtype: int64

In [57]:
df2012marco.groupby(['ocorrencia_classificacao']).size().sort_values(ascending=False)

ocorrencia_classificacao
INCIDENTE          43
ACIDENTE           14
INCIDENTE GRAVE     4
dtype: int64

In [59]:
ano2011 = df['ocorrencia_dia'].dt.year == 2011
estados = df['ocorrencia_uf'].isin(['SP', 'RJ', 'MG', 'ES'])

dfsudeste2011 = df.loc[ano2011 & estados]

In [61]:
dfsudeste2011.shape

(262, 10)

In [62]:
dfsudeste2011.groupby(['ocorrencia_classificacao']).size()

ocorrencia_classificacao
ACIDENTE            65
INCIDENTE          176
INCIDENTE GRAVE     21
dtype: int64

In [ ]:
dfsudeste2011.count()

In [65]:
dfsudeste2011.groupby(['ocorrencia_classificacao', 'ocorrencia_uf']).size()

ocorrencia_classificacao  ocorrencia_uf
ACIDENTE                  ES                1
                          MG               12
                          RJ                9
                          SP               43
INCIDENTE                 ES                6
                          MG               23
                          RJ               63
                          SP               84
INCIDENTE GRAVE           ES                2
                          MG                7
                          RJ                5
                          SP                7
dtype: int64

In [68]:
dfsudeste2011.groupby(['ocorrencia_cidade', 'ocorrencia_uf']).size().sort_values(ascending=False)

ocorrencia_cidade  ocorrencia_uf
RIO DE JANEIRO     RJ               44
GUARULHOS          SP               20
SÃO PAULO          SP               20
BELO HORIZONTE     MG               14
RIBEIRÃO PRETO     SP               14
                                    ..
MARÍLIA            SP                1
VILA VELHA         ES                1
MANHUAÇU           MG                1
JAÍBA              MG                1
AIMORÉS            MG                1
Length: 84, dtype: int64

In [ ]:
dfsudeste2011.groupby(['ocorrencia_aerodromo'], dropna=False)['total_recomendacoes'].sum()

**CARREGAMENTO PARA CSV**

In [76]:
dfsudeste2011.to_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/sudeste2011.csv', sep=';', index=False)

In [77]:
df2012marco.to_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/marco2012.csv', sep=';', index=False)

In [78]:
teste = pd.read_csv('/content/drive/MyDrive/Soul_Code_Academy/repositorio_pandas/marco2012.csv', sep=';')

In [ ]:
teste